# Ignore node_modules in both pairUp-client and pairUp-server
node_modules/
**/node_modules/

# Ignore environment files
.env

# Ignore lock files (optional)

yarn.lock

# Ignore build output (if applicable)
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files (optional)
.vscode/
.idea/
